
draft/user-model-draft1.aux
draft/user-model-draft1.log
draft/user-model-draft1.out
draft/user-model-draft1.blg
draft/user-model-draft1.bbl
draft/user-model-draft1.synctex.gz

draft/.DS_Store
.DS_Store

*.bak
